fastapi==0.117.1
uvicorn[standard]==0.36.0
sqlalchemy==2.0.43
pydantic[email]==2.11.9
python-jose[cryptography]==3.5.0
python-multipart==0.0.20
pwdlib[argon2]==0.2.1
psycopg[binary]==3.2.13
python-dotenv==1.1.1
